:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-text-color: #FFFFFF;
    --primary-bg-color:#FFFFFF;
    --btn-text-color: #4D5AE5;
    --btn-bg-color: #F4F4FD;
    --footer-text: #F4F4FD;
    --accent-bg-color: #2E2F42;
    --secondary-acnt-bg-color: #F4F4FD;
}

body {
    color: var(--secondary-text-color);
    background-color: var(--primary-bg-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Header*/

.link.logo {
    color: #4D5AE5; 
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em
}

.logo-highlight {
    color: var(--primary-text-color);
}

.items .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--secondary-text-color);

}

.address .link {
    color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #404BBF;
}


/* Hero */
.hero {
    background-color: var(--accent-bg-color);
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);    
    text-align: center;
}

/* Sections */
.section.color {
    background-color: #F4F4FD
}

.section.primary .item {
    background-color: var(--primary-bg-color);
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--primary-text-color);

}

.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.section-list {
    background-color: var(--primary-bg-color);
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}



/* Button */
.button {
    font-family: "Roboto", sans-serif;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--accent-text-color); 
    background-color: #404BBF;
}

.button:active {
    color: var(--accent-text-color);
    background-color: #404BBF;
}

.button.primary {
    color: var(--accent-text-color);
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.button.primary:hover,
.button.primary:focus {
    background-color: #404BBF;
}

/* Footer */
.page-footer .logo-highlight {
    color: #F4F4FD;
}
.page-footer {
    background-color: var(--accent-bg-color);
}

.page-footer .text{
    color: var(--footer-text);
}